.dashboard-description {
  color: #430099;
  font-size: 5.6rem;
  margin-top: 4.8rem;
}

.widget {
  margin-top: 5.6rem;
}

.card-title {
  padding: 1.2rem;
  font-size: 6.4rem;
  color: #f1e6ff;
}

.card-icon {
  font-size: 5.6rem;
  color: #880085;
  padding: 1.2rem;
  border: 3px solid #ccccff;
  border-radius: 50%;
  margin-right: 2.4rem;
}

.card-subtitle {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  color: #2c0066;
  padding: 1.8rem;
  font-weight: 700;
}

.card-text {
  font-size: 1.6rem;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  color: #fff;
  font-weight: 500;
  background-color: #765aaf;
  border-radius: 4px;
  width: fit-content;
}

.card {
  background-color: #9370db;
  border: none;
  color: #fff;
  height: 100%;
  box-shadow: 0.5px 0 8px #ced4da;
}
