.header-section {
  background-color: #8f00ff;
}

.header {
  padding: 1.6rem 1.2rem;
  margin: 0 2.3rem;
}

.logo-box .heading-primary {
  margin: 0;
}

.user-box {
  font-weight: 600;
}

.user-icon {
  height: 5.6rem;
  width: 5.6rem;
  font-weight: 700;
  color: #fff;
}

.user-email {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.main-nav-list {
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;
  color: #2e0491;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ffba00;
}

.main-nav-link.cta:link,
.main-nav-link.cta:visited {
  background-color: #800020;
  padding: 1.6rem;
  border-radius: 9px;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  /* display: none; */
}

.icon-mobile-nav {
  height: 4.4rem;
  width: 4.4rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* SIDE BAR */
.offcanvas-header {
  background-color: #dfd4f4;
}
.offcanvas-title {
  color: #560099;
}

/* ***************************** */
/* DASHBOARD SECTION */
/* ***************************** */
.dashboard-section {
  background-color: #330066;
}

.dashboard-menu {
  padding: 3.2rem;
}

.menu-item {
  /* display: inline-block; */
  /* padding: 4.4rem 3.2rem; */
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
}

.menu-1 {
  background-color: #ddb3ff;
  color: #f4f1fb;
}

.menu-2 {
  background-color: #e2ccff;
}
